name: Redpill Build

on:
  schedule:
    - cron: '0 0 * * *'
  workflow_dispatch:
    inputs:
      platform:
        description: 'all DS3615xs DS3617xs DS918+ DS920+ DS3622xs+'
        required: true
        default: 'all' 
        type: choice
        options:
        - all
        - DS3615xs
        - DS3617xs
        - DS918+
        - DS920+
        - DS3622xs+

      version:
        description: '7.1.0-42661 7.0.1-42218-JUN 7.0.1-42218'
        required: true
        default: '7.1.0-42661' 
        type: choice
        options:
        - 7.1.0-42661
        - 7.0.1-42218-JUN
        - 7.0.1-42218



jobs:
  initjob:
    name: Initialization
    runs-on: ubuntu-latest
    steps:
      - run: |
      sudo timedatectl set-timezone "Asia/Shanghai"
      echo "::set-output name=releasetag::$(date +"%Y.%m.%d-%H%M")"

  ds3615xs:
    name: Build DS3615xs
    needs: initjob
    if: ${{ github.event.inputs.platform == 'DS3615xs' }}  || ${{ github.event.inputs.platform == 'all' }}
    uses: ./.github/workflows/Call.yml
    with:
      releasetag: ${{ needs.initjob.output.releasetag }}
      platform: 'DS3615xs'
      version: ${{ github.event.inputs.version }}

  ds3617xs:
    name: Build DS3617xs
    needs: initjob
    if: ${{ github.event.inputs.platform == 'DS3617xs' }}  || ${{ github.event.inputs.platform == 'all' }}
    uses: ./.github/workflows/Call.yml
    with:
      releasetag: ${{ needs.initjob.output.releasetag }}
      platform: 'DS3617xs'
      version: ${{ github.event.inputs.version }}

  ds918p:
    name: Build DS918p
    needs: initjob
    if: ${{ github.event.inputs.platform == 'DS918+' }}  || ${{ github.event.inputs.platform == 'all' }}
    uses: ./.github/workflows/Call.yml
    with:
      releasetag: ${{ needs.initjob.output.releasetag }}
      platform: 'DS918+'
      version: ${{ github.event.inputs.version }}

  ds920p:
    name: Build DS920p
    needs: initjob
    if: ${{ github.event.inputs.platform  == 'DS920+' }}  || ${{ github.event.inputs.platform == 'all' }}
    uses: ./.github/workflows/Call.yml
    with:
      releasetag: ${{ needs.initjob.output.releasetag }}
      platform: 'DS920+'
      version: ${{ github.event.inputs.version }}

  ds3622xsp:
    name: Build DS3622xsp
    needs: initjob
    if: ${{ github.event.inputs.platform == 'DS3622xs+' }}  || ${{ github.event.inputs.platform == 'all' }}
    uses: ./.github/workflows/Call.yml
    with:
      releasetag: ${{ needs.initjob.output.releasetag }}
      platform: 'DS3622xs+'
      version: ${{ github.event.inputs.version }}
