name: Call

on:
  workflow_dispatch:
    inputs:
      platform:
        description: 'DS3615xs DS3617xs DS918+ DS920+ DS3622xs+'
        required: true
        default: 'DS3622xs+' 
        type: choice
        options:
        - all
        - DS3615xs
        - DS3617xs
        - DS918+
        - DS920+
        - DS3622xs+

      version:
        description: '7.1.0-42661 7.0.1-42218-JUN 7.0.1-42218'
        required: true
        default: '7.1.0-42661' 
        type: choice
        options:
        - 7.1.0-42661
        - 7.0.1-42218-JUN
        - 7.0.1-42218

      releasetag:
        description: 'test'
        required: true
        default: 'test' 
        type: string


  workflow_call:
    inputs:
      releasetag:
        required: true
        type: string

      platform:
        required: true
        type: string

      version:
        required: true
        type: string


jobs:
  Redpill-build:
    runs-on: ubuntu-latest
    steps:
      - name: checkout
        uses: actions/checkout@main

      - name: checkinput
        id: initinput
        run: |
          echo ${{ inputs.platform }}
          echo ${{ inputs.version }}
          echo ${{ inputs.releasetag }}

          function ArchitectureArray() {

              case $1 in
              DS3615xs)
                  architecture="bromolow"
                  ;;
              DS3617xs)
                  architecture="broadwell"
                  ;;
              DS918+)
                  architecture="apollolake"
                  ;;
              DS920+)
                  architecture="geminilake"
                  ;;
              DS3622xs+)
                  architecture="broadwellnk"
                  ;;
              esac
          }

          ArchitectureArray ${{ inputs.platform }}
          echo "architecture=${architecture}" >> $GITHUB_ENV
          echo "datetime=$(date +%Y%m%d%H%M%S)" >> $GITHUB_ENV

          echo "::set-output name=toolkitv::${architecture}-${{ inputs.version }}"
          echo "::set-output name=filename::redpill-${{ inputs.platform }}-${{ inputs.version }}-$(date +%Y%m%d%H%M%S).img"


      - name: Init Env
        run: |
          echo toolkitv: ${{ steps.initinput.outputs.toolkitv }}

          git config --global user.email "github-actions[bot]@users.noreply.github.com"
          git config --global user.name "github-actions[bot]"
          
          sudo apt update
          sudo apt-get install -y curl libcurl4 bspatch jq

          sudo touch /usr/local/sbin/filetool.sh
          sudo chmod +x /usr/local/sbin/filetool.sh

          sudo mkdir /home/tc 
          git clone --depth 1 https://github.com/pocopico/tinycore-redpill.git /home/tc 
          cd /home/tc
          sudo chmod +x ./rploader.sh
          #sudo sed -i 's/\/home\/tc/./g' ./rploader.sh
          #sudo sed -i 's/filetool.sh/echo/g' ./rploader.sh
          sudo ./rploader.sh download ${{ steps.initinput.outputs.toolkitv }}
          ls

      - name: Add Ext
        run: |
          cd /home/tc
          cd redpill-load
          sudo chmod +x ./ext-manager.sh
          sudo ./ext-manager.sh add 'https://github.com/pocopico/redpill-load/raw/master/redpill-acpid/rpext-index.json'
          sudo ./ext-manager.sh add 'https://github.com/pocopico/redpill-load/raw/master/redpill-virtio/rpext-index.json'
          # sudo ./ext-manager.sh add 'https://github.com/pocopico/redpill-load/raw/master/redpill-misc/rpext-index.json'
          # sudo ./ext-manager.sh add 'https://github.com/pocopico/redpill-load/raw/master/redpill-dtb/rpext-index.json'
          sudo ./ext-manager.sh add 'https://raw.githubusercontent.com/pocopico/rp-ext/master/redpill-boot-wait/rpext-index.json'
          sudo ./ext-manager.sh add 'https://raw.githubusercontent.com/pocopico/rp-ext/master/e1000e/rpext-index.json'
          sudo ./ext-manager.sh add 'https://raw.githubusercontent.com/pocopico/rp-ext/master/vmxnet3/rpext-index.json'
          sudo ./ext-manager.sh add 'https://raw.githubusercontent.com/pocopico/rp-ext/master/tg3/rpext-index.json'
          sudo ./ext-manager.sh add 'https://raw.githubusercontent.com/pocopico/rp-ext/master/r8125/rpext-index.json'

      - name: Build
        run: |
          echo toolkitv: ${{ steps.initinput.outputs.toolkitv }}
          echo filename: ${{ steps.initinput.outputs.filename }}

          cd /home/tc
          sudo chmod +x ./rploader.sh
          yes y | sudo ./rploader.sh satamap now
          yes y | sudo ./rploader.sh identifyusb now
          yes y | sudo ./rploader.sh serialgen ${{ inputs.platform }} now
          sudo ./rploader.sh build ${{ steps.initinput.outputs.toolkitv }}
          if [-f "redpill-load/loader.img" ]; then
            mv redpill-load/loader.img ${{ steps.initinput.outputs.filename }}
            echo "status=true" >> $GITHUB_ENV
          else
            echo "status=false" >> $GITHUB_ENV
          fi

          echo ${{ env.status }}

      - name: Upload Releases
        if: env.status == 'true'
        uses: softprops/action-gh-release@v1
        with:
          tag_name: ${{ inputs.releasetag }}
          files: ${{ steps.initinput.outputs.filename }}
          
